.navbar {
  background-color: #000000;
  .logo {
    width: 60%;
  }
  .navbar-toggler {
    border-color: rgb(255,102,203);
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
  }
  .navbar-nav {
    .nav-item {
      margin-right: 15%;
    }
  }
  a {
    text-transform: uppercase;
    font-family: 'Barlow', sans-serif;
    text-decoration: none;
    color: #fff;
  }
  .get-started {
    text-transform: uppercase;
    font-family: 'Barlow', sans-serif;
    background: #F32855;
    color: #fff;
    margin-left: 30px;
    &:hover {
      color: #fff;
    }
  }
}